{% extends 'base.html' %} {% load static %} {% block extend_head %}

<script src="https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}"></script>

{% endblock %} {% block extend_nav %}

<ul class="sidenav">
  <li>
    <a class="active" href="{% url 'main:route' %}">Choose Destination</a>
  </li>
  <li>
    <a
      href="javascript:void(0)"
      onclick="alert('Please add a start and end address')"
      >Map</a
    >
  </li>

  <div id="icon-container"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.4/lottie.min.js">
  
  <script>
    var animation = bodymovin.loadAnimation({
    container: document.getElementById('icon-container'),
    path: "{% static 'data.json' %}",
    renderer: 'svg',
    loop: true,
    autoplay: true,
    name: "Demo Animation",
  });
  </script>
    
    <lottie-player src="{% static 'data.json' %}" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>

    <div id="msg" class="onboarding-message"/>
</ul>

{% endblock %} {% block content %}

<h3>Campus Guide- Muk</h3>
<video id="background-video" controls autoplay loop muted>
  <source src="{% static 'aerial_view.mp4' %}" type="video/webm" />
</video>
<div class="container">
  <form id="myform">
    <label for="id-google-address-a">Start Address</label>
    <input
      type="text"
      placeholder="Type address"
      id="id-google-address-a"
      name="google_address_a"
    />

    <label for="id-google-address-b">Destination Address</label>
    <input
      type="text"
      placeholder="Type address"
      id="id-google-address-b"
      name="google_address_b"
    />

    <input type="hidden" class="geo" id="id-lat-a" value="" />
    <input type="hidden" class="geo" id="id-long-a" value="" />
    <input type="hidden" class="geo" id="id-lat-b" value="" />
    <input type="hidden" class="geo" id="id-long-b" value="" />

    <label for="id-travel-mode">Select Travel Mode:</label>
    <select id="id-travel-mode">
      <option value="DRIVING">Driving</option>
      <option value="WALKING">Walking</option>
      <option value="bicycling">Bicycling</option>
      <option value="transit">Transit</option>
    </select>
  </form>
</div>
<div>
  <button id="btn" class="btn-get-directions">Get Directions</button>
</div>
{% endblock %} {% block extend_footer %}

<script type="text/javascript">
  var google_api_key = "{{google_api_key|safe}}";
</script>

<script src="{% static 'google_places.js' %}"></script>

{% endblock %}
